.antours-app {
  font-family: 'Open Sans', sans-serif;
  color: #ababad;
  /*Menu Styles*/
  /* Footer Styles */
  /* Title Container */
  /* Package Item */
  /* Home Container */
  /* Package Container */
  /* Paginate */
  /* Service Container */ }
  .antours-app .reservation-container {
    background: #d59440; }
    .antours-app .reservation-container .reservation-wrapper {
      padding: 40px 0px; }
      .antours-app .reservation-container .reservation-wrapper .form-container {
        max-width: 800px;
        width: 100%;
        background: #FFF;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        min-height: 0px;
        transition: min-height .5s; }
        .antours-app .reservation-container .reservation-wrapper .form-container .step {
          padding: 40px 40px 20px 40px; }
        .antours-app .reservation-container .reservation-wrapper .form-container .btn-next-step {
          background: #ffb454;
          border-color: #ffb454;
          border-radius: 0px;
          cursor: pointer;
          font-weight: bold; }
        .antours-app .reservation-container .reservation-wrapper .form-container .steps {
          position: absolute;
          transform: translateX(-100%);
          transition: transform .5s;
          top: 0;
          width: 100%; }
          .antours-app .reservation-container .reservation-wrapper .form-container .steps.current {
            display: block;
            position: relative;
            transform: translateX(0%); }
            .antours-app .reservation-container .reservation-wrapper .form-container .steps.current ~ .steps {
              transform: translateX(100%); }
        .antours-app .reservation-container .reservation-wrapper .form-container .col-label {
          min-width: 80px;
          max-width: 90px; }
        .antours-app .reservation-container .reservation-wrapper .form-container .form-control-border {
          border-color: #d39340; }
        .antours-app .reservation-container .reservation-wrapper .form-container .vertical-separator {
          margin-top: 10px; }
        .antours-app .reservation-container .reservation-wrapper .form-container .container-field {
          border: 1px solid #f2f0f0;
          padding: 0px 20px 0 10px; }
        .antours-app .reservation-container .reservation-wrapper .form-container .reservation-field {
          border-color: transparent;
          border-style: solid;
          border-width: 0;
          border-radius: 0; }
          .antours-app .reservation-container .reservation-wrapper .form-container .reservation-field + .field-icon {
            font-size: 20px;
            color: #d59440; }
  .antours-app .margin-v-separator {
    margin: 35px auto; }
  .antours-app .link-telephone, .antours-app .link-email {
    color: #ababad; }
  .antours-app .menu {
    padding: 10px 0; }
    .antours-app .menu .antours-menu-list, .antours-app .menu .list-languages {
      margin: 0; }
      .antours-app .menu .antours-menu-list li, .antours-app .menu .list-languages li {
        margin-right: 10px; }
        .antours-app .menu .antours-menu-list li:last-child, .antours-app .menu .list-languages li:last-child {
          margin-right: 0; }
        .antours-app .menu .antours-menu-list li a.menu-link, .antours-app .menu .list-languages li a.menu-link {
          position: relative;
          text-decoration: none; }
          .antours-app .menu .antours-menu-list li a.menu-link:after, .antours-app .menu .antours-menu-list li a.menu-link.active:after, .antours-app .menu .list-languages li a.menu-link:after, .antours-app .menu .list-languages li a.menu-link.active:after {
            content: "";
            display: block;
            width: 0%;
            margin: auto;
            border-top-color: #d39340;
            border-top-style: solid;
            border-top-width: 2px;
            transition: width .4s; }
          .antours-app .menu .antours-menu-list li a.menu-link.active:after, .antours-app .menu .list-languages li a.menu-link.active:after {
            width: 100%; }
          .antours-app .menu .antours-menu-list li a.menu-link:hover:after, .antours-app .menu .list-languages li a.menu-link:hover:after {
            width: 100%; }
    .antours-app .menu a {
      color: #ababad; }
  .antours-app .footer {
    margin-top: 50px; }
    .antours-app .footer .contact-field {
      background: #f9f9f9;
      border: 1px solid #f9f9f9;
      border-radius: 0;
      margin-top: 10px; }
      .antours-app .footer .contact-field.message-field {
        resize: none;
        min-height: 130px; }
    .antours-app .footer #contact-btn {
      background: #d39340;
      color: #FFF;
      font-weight: bold; }
    .antours-app .footer .copyright {
      padding: 10px 0px;
      border-top: 1px double #dcdcdc;
      margin-top: 50px; }
      .antours-app .footer .copyright p {
        margin: 0; }
    .antours-app .footer .contact-info-container {
      margin-bottom: 20px; }
    .antours-app .footer .social-link {
      display: inline-flex;
      width: 40px;
      height: 40px;
      padding: 5px;
      border-radius: 20px;
      text-align: center;
      background: #d39340;
      color: #FFF;
      font-size: 24px;
      vertical-align: middle;
      line-height: 1;
      align-content: center;
      justify-content: center;
      margin-right: 10px;
      transition: opacity .5s; }
      .antours-app .footer .social-link:last-child {
        margin-right: 0px; }
      .antours-app .footer .social-link:hover {
        text-decoration: none;
        opacity: .8; }
      .antours-app .footer .social-link i {
        line-height: 0;
        align-self: center; }
  .antours-app .title-container {
    margin: 0 auto; }
    .antours-app .title-container .title-wrapper h1 {
      font-size: 24px;
      font-weight: 100;
      margin: 0; }
    .antours-app .title-container .title-wrapper h1.big-title {
      font-size: 35px; }
    .antours-app .title-container .title-wrapper .border-bottom-title {
      width: 40.5%;
      border: 1px solid #d39340; }
  .antours-app .package-detail {
    margin-bottom: 15px; }
    .antours-app .package-detail .wrapper-package {
      box-shadow: 0px 2px 8px 3px #ccc;
      overflow: hidden;
      background: #f9f9f9;
      position: relative; }
      .antours-app .package-detail .wrapper-package .picture {
        overflow: hidden; }
        .antours-app .package-detail .wrapper-package .picture img {
          transform: scale(1.1);
          transition: transform .5s; }
          .antours-app .package-detail .wrapper-package .picture img:hover {
            transform: scale(1); }
      .antours-app .package-detail .wrapper-package .quick-form {
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #d39340;
        border-top: 2px solid #d39340;
        position: absolute;
        transition: top .5s;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%; }
        .antours-app .package-detail .wrapper-package .quick-form.open {
          top: 0%; }
        .antours-app .package-detail .wrapper-package .quick-form .quick-container {
          height: 100%; }
          .antours-app .package-detail .wrapper-package .quick-form .quick-container .quick-form-container {
            position: relative;
            flex: 1; }
            .antours-app .package-detail .wrapper-package .quick-form .quick-container .quick-form-container .help-block {
              padding: 0px 12px; }
            .antours-app .package-detail .wrapper-package .quick-form .quick-container .quick-form-container .layout-loader {
              position: absolute;
              top: 100%;
              overflow: hidden;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgba(211, 147, 64, 0.6);
              color: #FFF;
              z-index: 3;
              transition: top .5s; }
              .antours-app .package-detail .wrapper-package .quick-form .quick-container .quick-form-container .layout-loader.active {
                top: 0; }
              .antours-app .package-detail .wrapper-package .quick-form .quick-container .quick-form-container .layout-loader .wrapper-loader {
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                left: 0;
                right: 0; }
        .antours-app .package-detail .wrapper-package .quick-form .wrapper-field {
          margin-bottom: 0; }
        .antours-app .package-detail .wrapper-package .quick-form .quick-field {
          border: 1px solid #d39340;
          border-radius: 0; }
      .antours-app .package-detail .wrapper-package .detail-note {
        background: #d39340;
        color: #FFF; }
        .antours-app .package-detail .wrapper-package .detail-note .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 15px; }
        .antours-app .package-detail .wrapper-package .detail-note .btn-reserve, .antours-app .package-detail .wrapper-package .detail-note .btn-makeReserve {
          background: transparent;
          color: #FFF; }
          .antours-app .package-detail .wrapper-package .detail-note .btn-reserve:focus, .antours-app .package-detail .wrapper-package .detail-note .btn-makeReserve:focus {
            box-shadow: none; }
        .antours-app .package-detail .wrapper-package .detail-note .icon-close {
          float: left;
          margin-right: 5px; }
  .antours-app .home-container {
    margin: 40px 0; }
  .antours-app .packages-grid .btn-filter {
    background: #d39340;
    color: #FFF; }
  .antours-app .wrapper-paginate {
    width: 100%; }
    .antours-app .wrapper-paginate ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .antours-app .wrapper-paginate ul li {
        display: inline-block; }
        .antours-app .wrapper-paginate ul li a, .antours-app .wrapper-paginate ul li span {
          display: block;
          padding: 5px 2px;
          border: 1px solid #d39340;
          color: #FFF;
          line-height: 1;
          background: #d39340;
          width: 30px;
          display: block;
          text-align: center;
          opacity: .8;
          transition: opacity .5s;
          text-decoration: none; }
          .antours-app .wrapper-paginate ul li a.current, .antours-app .wrapper-paginate ul li a:hover, .antours-app .wrapper-paginate ul li span.current, .antours-app .wrapper-paginate ul li span:hover {
            background: #d39340;
            opacity: 1; }
          .antours-app .wrapper-paginate ul li a.current, .antours-app .wrapper-paginate ul li span.current {
            cursor: auto; }
  .antours-app .service-content {
    max-width: 1024px;
    margin: auto; }
  .antours-app .overlay-border {
    margin: auto;
    margin-bottom: 25px; }
    .antours-app .overlay-border:last-child {
      margin-bottom: 0px; }
    .antours-app .overlay-border .overlay-flex {
      position: relative;
      overflow: hidden; }
      .antours-app .overlay-border .overlay-flex:hover img {
        transform: scale(1); }
      .antours-app .overlay-border .overlay-flex img {
        transition: transform .5s;
        transform: scale(1.05); }
      .antours-app .overlay-border .overlay-flex .flex-overlay-container {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(211, 147, 64, 0.6);
        color: #FFF;
        text-decoration: none; }
    .antours-app .overlay-border .content-service {
      border-color: silver;
      border-width: 1px;
      border-style: solid;
      border-top-color: transparent;
      padding: 10px; }
  @media screen and (max-width: 575px) {
    .antours-app {
      /* Home Container */
      /* Service Container */ }
      .antours-app .menu .logo {
        display: flex;
        align-items: center; }
        .antours-app .menu .logo .container-logo {
          flex: 1; }
      .antours-app .menu .menu-list {
        background: #d39340;
        max-height: 0;
        min-height: 0px;
        transition: max-height .6s;
        overflow: hidden; }
        .antours-app .menu .menu-list.open {
          max-height: 140px; }
        .antours-app .menu .menu-list ul {
          padding: 5px 0; }
          .antours-app .menu .menu-list ul li {
            text-align: center;
            margin-right: 0px; }
            .antours-app .menu .menu-list ul li a.menu-link {
              color: #FFF; }
              .antours-app .menu .menu-list ul li a.menu-link.active:after {
                width: 100%;
                border-top-color: #FFF; }
      .antours-app .menu .list-languages {
        text-align: center; }
        .antours-app .menu .list-languages li {
          display: inline-block; }
      .antours-app .title-container .title-wrapper h1 {
        font-size: 18px;
        font-weight: 100;
        margin: 0; }
      .antours-app .title-container .title-wrapper h1.big-title {
        font-size: 20px; }
      .antours-app .title-container .title-wrapper .bottom-slogan {
        font-size: 13px; }
      .antours-app .footer {
        margin-top: 10px; }
        .antours-app .footer .copyright {
          font-size: 13px;
          margin-top: 10px; }
        .antours-app .footer .contact-field {
          border: none; }
        .antours-app .footer #contact-btn {
          width: 100%; }
      .antours-app .home-container {
        margin: 20px 0 0; }
      .antours-app .overlay-border {
        margin-bottom: 20px; }
        .antours-app .overlay-border:last-child {
          margin-bottom: 0px; }
        .antours-app .overlay-border h1.overlay-title {
          font-size: 22px; }
        .antours-app .overlay-border .content-service {
          padding: 5px;
          font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
